.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
    width: 100%;
    background-color: var(--lynx-white-color);   
    color: var(--black-color);
    padding: 1rem;
    height: 1rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 1px #3f3947;
}

.nav-title{
    color: var(--voilet-color);
    font-weight: 600;
    font-size: 1.7rem;
    margin: .5rem;
}

.navbar-section ul{
    display: flex;
}

.navbar-links{
    text-decoration: none;
    padding: 1rem;
    color: var(--black-color);
    font-weight: 500;
}

.navbar-links:hover{
    color: var(--voilet-color);
}
    

