@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
:root{
    --page-primary-color: #6D0CC9;
    --page-secondary-color:#3f3947;
    --light-bg-color:#fcfcfc;
}


/* navbar-section */

.navbar{
    min-height: 3rem;
    width: 100%;
    padding-bottom: 1.3rem;
    box-shadow: 0px 1px var(--page-secondary-color);

}

.nav-logo{
    position: relative;
    top: .5rem;
    font-size: 1.6rem;
    color: var(--page-primary-color);
}

.brandname{
    font-weight: 600;
}

.navbar,.nav-links{
    display: flex;
    padding-left: 1.6rem;
}

.nav-section{
    position: absolute;
    left: 8rem;
    top: 1rem;
    display: flex;
}
.nav-icon a{
    font-size: 1rem;
    padding-left:1.6rem;
    color: var(--page-primary-color);
    font-weight: 500;
}

.nav-icon :hover{
    color: var(--page-secondary-color);
}


/* main  section*/

.main-desc{
    margin-top: 1rem;
   font-size: 1.2rem;
}

.main{
    width: 50%;
    margin: auto;
    text-align: center;
}

.main-section{
    margin-top: 3rem;
    margin-bottom: 7rem; 
}

.main-img{
    width: 40%;
    border-radius: 20%;
}


/* .CTA-container */

.CTA-container{
    padding: .5rem;
}

.btn{
    margin-top: 2rem;
    font-size: 1.4rem;
    padding: .7rem;
    background-color: var(--page-primary-color);
    color: white;
    border-radius: .6rem;
    margin-left: 1rem;
}

.btn:hover{
    background-color: var(--page-secondary-color);
    cursor: pointer;
}


/* docsite-page */

/* sidebar-section */

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    margin-left: 3rem;
    margin-top: 5rem;
    overflow-y: auto;
}

.main-comp-heading{
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: var(--page-secondary-color);
   
}

/* component-section */

.component-section{
    width: 100%;  
}

.component-links>a{
    display: block;
    text-decoration: none;
    padding: 0.2em 0.5em;
    color: var(--page-secondary-color);
    width: 100%;
    font-size: 1.1rem;
    padding: .6rem;
    font-weight: 500;
    padding-left: 2rem;
}

.component-links :hover{
    background-color: #ebdafc;
    text-decoration: underline;

}

.comp-disp{
    max-width: 70%;
    margin: 2rem 2rem 2rem 25rem;
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid;
}

.component-info {
    margin-top: 1rem;
}


/* footer-section */

.footer{
    min-height: 7rem;
    background-color: var(--page-secondary-color);
	min-height: 2rem;
	width: 100%;
	padding: 1.5rem;
    text-align: center;
	color: var(--light-bg-color);
	font-size: 1.5rem;
}

.footer-links i {
    padding: 1rem;       
    font-size: 1rem;
    color: var(--light-bg-color);
}

.footer .fas{
    color: rgb(190, 54, 54);
}


@media (max-width: 1100px) {
    .sidebar {
        margin-left: 1rem;
    }

    .comp-disp {
        max-width: 70%;
        margin-left: 20rem;
        margin-right: 1rem;
    }
}

@media (max-width: 810px)  {
    .sidebar{
        display: none;
    }
    .comp-disp {
      display: block;
        max-width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .code-snippet-display{
        padding: 2rem 0;
        position: relative;
        overflow-x: scroll;
        max-width: min-content;
    }

    iframe{
        width: 100%;
        height: 100%;
    }
}